apiKey: "AIzaSyCKtgaAq-Azp_Qr4LqdF5CkMPAX-F5uKXw",
  authDomain: "pense-bete-4fa2c.firebaseapp.com",
  projectId: "pense-bete-4fa2c",
  storageBucket: "pense-bete-4fa2c.firebasestorage.app",
  messagingSenderId: "58124776390",
  appId: "1:58124776390:web:b3253863d10e27213f78c7",
  measurementId: "G-9J9TD3WXXF"
